<!DOCTYPE html>
<html lang="ja">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.3/css/all.css">
    <link rel="stylesheet" href="./css/style.css">
    <link rel="stylesheet" href="./css/ress.css">
    <title>お知らせ - 【NodaCoffee】公式オンラインショップ</title>

</head>

<body>
    <!-- LOADING -->
    <div class="SubLoader">
        <div class="LoaderBg IsActive js-loaderBg">
            <div class="Loader IsActive js-loader">
            </div>
        </div>
    </div>
    <!-- /LOADING -->
    <!-- WRAP -->
    <div class="Wrap">
        <!-- GLOBALNAV -->
        <nav class="GlobalNav">
            <ul class="js-navList GlobalNav__List">
                <li class="GlobalNav__Item"><a class="GlobalNav__Link Primary" href="./about.html">NodaCoffeeとは？</a>
                </li>
                <li class="GlobalNav__Item"><a class="GlobalNav__Link Primary" href="./products/list.html">商品一覧</a>
                </li>
                <li class="GlobalNav__Item"><a class="GlobalNav__Link Primary" href="./news.html">お知らせ</a>
                </li>
                <li class="GlobalNav__Item"><a class="GlobalNav__Link Primary" href="./contact.html">お問い合わせ</a>
                </li>
            </ul>
        </nav>
        <!-- /GLOBALNAV -->
        <!-- HEADER -->
        <header class="Header">
            <div class="Header__NavBtn">
                <button class="NavBtn js-navTrigger">
                    <span class="NavBtn NavBtn__Top"></span>
                    <span class="NavBtn NavBtn__Middle"></span>
                    <span class="NavBtn NavBtn__Bottom"></span>
                </button>
            </div>
            <div class="Header__Body">
                <div class="Header__BrandLogo">
                    <a href="./index.html">
                        <img class="BrandLogo__Img" src="./img/common/logo_black.png" alt="NodaCoffeeロゴマーク">
                    </a>
                </div>
            </div>
            <div class="Header__Info Header__Sp">
                <p class="Header__Info-Text Header__Sp"><a class="Header__Info-Link Header__Sp Primary"
                        href="./products/list.html">商品一覧</a>
                </p>
            </div>
            <div class="Header__Info Header__Pc">
                <p class="Header__Info-Text Header__Pc"><a class="Header__Info-Link Header__Pc"
                        href="./products/list.html">商品一覧をみる</a>
                </p>
            </div>
        </header>
        <!-- /HEADER -->
        <!-- CONTAINER -->
        <div class="Container">
            <!-- CONTENT -->
            <main class="Content">
                <!-- NEWS -->
                <section class="SubPage__Top NoBottom">
                    <h2 class="SubPage__Top-Title">お知らせ</h2>
                </section>
                <div class="Sec SubPage__Content">
                    <div class="News__Content">
                        <p class="News__Content-Date">12月01日</p>
                        <div class="News__TextArea">
                            <p>NodaCoffee 新装オープン</p>
                        </div>
                    </div>
                    <div class="News__Content">
                        <p class="News__Content-Date">12月01日</p>
                        <div class="News__TextArea">
                            <p>NodaCoffee 新装オープン</p>
                        </div>
                    </div>
                    <button class="Info__Btn Short">
                        <a href="./" class="Info__Link">トップページへ戻る</a>
                    </button>
                </div>
                <!-- /NEWS -->
            </main>
            <!-- /CONTENT -->
            <!-- FOOTER -->
            <footer class="Sec Footer">
                <a href="./index.html">
                    <img class="Footer__Logo" src="./img/common/logo_white.png" alt="NodaCoffeeロゴマーク">
                </a>
                <div class="Footer__Content">
                    <nav class="FooterNav">
                        <ul class="FooterNav__List">
                            <li class="FooterNav__Item">
                                <a class="FooterNav__Link" href="./entry.html">会員登録</a>
                                <span class="FooterNav__Link">/</span>
                                <a class="FooterNav__Link" href="./login.html">ログイン</a>
                            </li>
                            <li class="FooterNav__Item">
                                <a class="FooterNav__Link" href="./cart.html">カートを見る</a>
                            </li>
                            <li class="FooterNav__Item">
                                <a class="FooterNav__Link" href="./contact.html">お問い合わせ</a>
                            </li>
                        </ul>
                    </nav>
                </div>
                <small class="Footer__Copy">&copy;2019 NODACOFFEE.
                    All rights reserved.</small>
            </footer>
            <!-- /FOOTER -->
        </div>
        <!-- /CONTAINER -->
    </div>
    <!-- /WRAP -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script type="text/javascript" src="./js/main.js"></script>

</body>

</html>