@charset "UTF-8";

$breakpoints: (
    'md': 'screen and (min-width: 560px)',
    'lg': 'screen and (min-width: 960px)',
) !default;

@mixin mq($breakpoint: md) {
  @media #{map-get($breakpoints, $breakpoint)} {
    @content;
  }
}

$color-primary: #fff;
$color-primary_light: #F8F8F8;
$color-primary_heavy: #3C3C3C;
$color-primary_lightgrey: #383838;
$color_purewhite: #fff;
$color-middlegrey: #a9a;

$colorpalette-body : $color_primary_heavy;
$colorpalette-wrap : $color-primary;
$colorpalette-loding-bg : $color-primary;
$colorpalette-header : $color_primary;
$colorpalette-globalnav : $color-primary;
$olorpalette-subpage-top : $color_primary_light;
$colorpalette-footer : $color_primary_heavy;

$colorpalette-form-btn : $color-primary_lightgrey;
$colorpalette-info-btn :$color_primary_heavy;

$colorpalette-primary-text :$color_purewhite;
$colorpalette-sub-text :$color_middlegrey;

html {
  font-family: "Avenir", Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: 62.5%;
  color: $colorpalette-body;
  text-align: center;
}

body {
  background-color: $colorpalette-body;
  font-size: 1.6rem;
  line-height: 2;
  overflow: hidden;
}

h1 {
  font-size: 2.4rem;
  line-height: 1.3;
  @include mq(md){
    font-size: 3.6rem;
  }
  @include mq(lg) {
    font-size: 4.8rem;
  }
}

h2 {
  font-size: 2rem;
  line-height: 1.3;
@include mq(md){
    font-size: 2rem;
  }
  @include mq(lg) {
    font-size: 2.8rem;
  }
}

p {
  font-size: 1.2rem;
  line-height: 1.3;
@include mq(md){
    font-size: 1.2rem;
  }
  @include mq(lg) {
    font-size: 1.6rem;
  }
}

a {
  font-size: 1.2rem;
  @include mq(md){
    font-size: 1.2rem;
  }
  @include mq(lg){
    font-size: 1.4rem;
  }
}

p,
li,
dt,
dl {
  line-height: 1.6;
}

li {
  list-style-type: none;
}

img {
  height: auto;
  max-width: 100%;
  max-height: 100%;
}

* {
  outline: none;
}

// COMMON
// INFO
.Info__Btn {
  border: 1px solid $color-primary_lightgrey;
  text-align: center;
  margin-top: 40px;
  width: 100%;
  padding: 8px;
  &.Short {
    @include mq(md){
    width: 50%;
  }
  }
}
.Info__Link {
  color: $colorpalette-info-btn;
  text-decoration: none;
}
.Primary {
  padding-bottom: 4px;
  border-bottom: 1px solid $colorpalette-info-btn;
  text-decoration: none;
  color: $colorpalette-info-btn;
&:visited {
  color: $colorpalette-info-btn;
}
}

//SUB PAGE
.SubPage__Top {
  width: 100%;
  height: 50vh;
  background-color: $olorpalette-subpage-top;
  position: relative;
  @include mq(md){
  height: 350px;
  margin-bottom: 100px;
  }
  &.NoBottom {
  margin-bottom: 0px;
}
@at-root {
.SubPage__Top-Bg {
  width: 100%;
}
.SubPage__Top-Title {
  top: 50%;
  left: 50%;
  position: absolute;
  z-index: 100;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}
}
}

//SARCH FORM
.SearchForm {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  @at-root{
.Scarch__Box {
  width: 100%;
  margin: 10px auto;
  border: 1px solid #808080;
  &.Radius {
  border-radius: 2px;
  }
}
.Search__Btn {
  margin: 8px;
    }
  }
}

// WRAP
.Wrap {
  overflow: hidden;
  background-color: $colorpalette-wrap;
}

//CONTAINER
.Container {
  padding-top: 105px;
@include mq(md){
    padding-top: 0;
    padding-right: 105px;
}
@include mq(lg){
    padding-top: 0;
    padding-right: 160px;
}
}

//SEC
.Sec {
  padding: 100px 40px;
@include mq(lg) {
    padding-left: 67.5px;
    padding-right: 90px;
    margin-bottom: 112.5px;
}
@at-root{
.Sec__Head {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}
.Sec__Head-SubTitle {
  font-size: 1rem;
  text-align: left;
  display: block;
  @include mq(md){
    display: inline;
    font-size: 1.4rem;
  }
}
}
}

//LODING
.LoaderBg {
  background-color: $colorpalette-loding-bg;
  position: fixed;
  z-index: 5000;
  @at-root{
.Loader {
  position: relative;
  text-align: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  height: 100vh;
  width: 100vw;
  z-index: 5000;
}
.IsActive {
  display: none;
}
.Fadeout{
  &-TopLoader {
  -webkit-transition-property: opacity;
  -o-transition-property: opacity;
  transition-property: opacity;
  -webkit-transition-delay: .9s;
  -o-transition-delay: .9s;
  transition-delay: .9s;
  -webkit-transition-duration: .3s;
  -o-transition-duration: .3s;
  transition-duration: .3s;
  opacity: 0;
  pointer-events: none;
}
  &-TopBg {
  -webkit-transition-property: opacity;
  -o-transition-property: opacity;
  transition-property: opacity;
  -webkit-transition-delay: .9s;
  -o-transition-delay: .9s;
  transition-delay: .9s;
  -webkit-transition-duration: .8s;
  -o-transition-duration: .8s;
  transition-duration: .8s;
  opacity: 0;
  pointer-events: none;
  }
  &-SubLoader {
  -webkit-transition-property: opacity;
  -o-transition-property: opacity;
  transition-property: opacity;
  -webkit-transition-delay: .2s;
  -o-transition-delay: .2s;
  transition-delay: .2s;
  -webkit-transition-duration: .3s;
  -o-transition-duration: .3s;
  transition-duration: .3s;
  opacity: 0;
  pointer-events: none;
  }
  &-SubBg{
  -webkit-transition-property: opacity;
  -o-transition-property: opacity;
  transition-property: opacity;
  -webkit-transition-delay: .9s;
  -o-transition-delay: .9s;
  transition-delay: .9s;
  -webkit-transition-duration: .8s;
  -o-transition-duration: .8s;
  transition-duration: .8s;
  opacity: 0;
  pointer-events: none;
  }
}
}
}

//GLOBAl HEADER
.GlovalHeader {
  @at-root{
.Header {
  background-color: $colorpalette-header;
  width: 100%;
  height: 105px;
  overflow: hidden;
  padding: 20px;
  position: fixed;
  z-index: 1000;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
@include mq(md) {
    right: 0;
    width: 105px;
    height: 100%;
    padding: 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-shadow: 0 0 8px 0 rgba(0, 0, 0, 0.18);
    box-shadow: 0 0 8px 0 rgba(0, 0, 0, 0.18);
  }
  @include mq(lg) {
      width: 160px;
    }
.BrandLogo__Img {
  height: 100%;
  width: 105px;
}
.Header__Info{
  @include mq(md) {
    display: block;
    width: 100%;
    height: 160px;
    background-color: #5F5F5F;
}
  &.Header__Sp {
  display: block;
@include mq(md) {
    display: none;
  }
}
&.Header__Pc {
  display: none;
  @include mq(md) {
  display: block;
  padding-top: 80px;
  }
}
&-Text,
&-Link {
  @include mq(md){
    color: $colorpalette-primary-text;
    }
}
}
.Header__NavBtn {
  @include mq(md){
    margin-top: 49px;
}
}
}
}
}

//GLOBAL NAV
.GlobalNav {
  @at-root {
.GlobalNav__List {
  position: fixed;
  display: none;
  z-index: 1000;
  left: 0;
  right: 0;
  top: 105px;
  height: 100vh;
  background-color: $colorpalette-globalnav;
  -webkit-animation: fadeIn-sp 1s ease-out 0s 1 normal forwards;
  animation: fadeIn-sp 1s ease-out 0s 1 normal forwards;
  color: $colorpalette-primary-text;
  @include mq(md){
    top: 0;
    padding: 100px;
    -webkit-animation: fadeIn-md 1s ease-out 0s 1 normal forwards;
    animation: fadeIn-md 1s ease-out 0s 1 normal forwards;
  }
}
.GlobalNav__Item {
  padding: 20px;
}
.Active {
  display: block;
}
@-webkit-keyframes fadeIn-sp {
  0% {
    opacity: 0;
    -webkit-transform: translate3d(0, -20px, 0);
    transform: translate3d(0, -20px, 0);
  }
  100% {
    opacity: 1;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
}
@keyframes fadeIn-sp {
  0% {
    opacity: 0;
    -webkit-transform: translate3d(0, -20px, 0);
    transform: translate3d(0, -20px, 0);
  }
  100% {
    opacity: 1;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
}
@-webkit-keyframes fadeIn-md {
  0% {
    opacity: 0;
    -webkit-transform: translate3d(50px, 0, 0);
    transform: translate3d(50px, 0, 0);
  }
  100% {
    opacity: 1;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
}
@keyframes fadeIn-md {
  0% {
    opacity: 0;
    -webkit-transform: translate3d(50px, 0, 0);
    transform: translate3d(50px, 0, 0);
  }
  100% {
    opacity: 1;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
}
}
  }

//NAV BTN
.NavBtn {
  position: relative;
  width: 48px;
  height: 22px;
  display: inline-block;
  -webkit-transition: all .4s;
  -o-transition: all .4s;
  transition: all .4s;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  & span {
  position: absolute;
  width: 100%;
  height: 1px;
  background-color: $color-primary_lightgrey;
  left: 0;
  }
&__Top {
  top: 0;
}
&__Middle {
  top: 10px;
}
&__Bottom {
  bottom: 0;
}
@at-root {
.Open{
&.NavBtn__Top {
  -webkit-transform: translateY(10px) rotate(-45deg);
  -ms-transform: translateY(10px) rotat(-45deg);
  transform: translateY(10px) rotat(-45deg);
}
&.NavBtn__Middle {
  opacity: 0;
}
&.NavBtn__Bottom {
  -webkit-transform: translateY(-10px) rotate(45deg);
  -ms-transform: translateY(-10px) rotat(45deg);
  transform: translateY(-10px) rotat(45deg);
}
}
}
}

//GLOBAl FOOTER
.Footer {
  background-color: $colorpalette-footer;
  margin-bottom: 0;
@at-root{
.Footer__Logo {
  width: 160px;
}
.FooterNav__Item {
  padding: 8px;
  & a:visited {
  color: $color-middlegrey;
}
}
.FooterNav__Link {
  text-decoration: none;
  color: $color-middlegrey;
}
.Footer__Copy {
  color: $color_purewhite;
  font-size: 1rem;
  margin-top: 20px;
}
}
}

//MAIN CONTENT
// TOP PAGE
//ViISUAL
.Visual {
  overflow: hidden;
  position: relative;
  height: 480px;
  @include mq(lg){
    height: 636.188px;
  }
  @at-root{
.Visual__TextArea {
  border: 1px solid $color_purewhite;
  margin-right: 20px;
  position: absolute;
  top: 13.28125vw;
  left: 13.28125vw;
  width: 22.96875vw;
  height: 65.625vw;
  @include mq(md){
    top: 7.28125vw;
    width: 11.96875vw;
    height: 32.625vw;
    left: 64.67188vw;
  }
  @include mq(lg){
    top: 7.28125vw;
    width: 118px;
    height: 318px;
    left: 64.67188vw;
  }
}
.Visual__Text {
  -webkit-writing-mode: vertical-rl;
  -ms-writing-mode: tb-rl;
  writing-mode: vertical-rl;
  color: $colorpalette-primary-text;
  letter-spacing: .8rem;
  line-height: 1.5;
  font-size: 1.4rem;
  height: 100%;
  width: 75%;
  @include mq(md){
    font-size: 1.2rem;
  }
}
.SlideContent__Item {
  height: 100%;
  @include mq(md) {
width: auto\9;
    width: 100%;
  }
}
}
  }

//NEWS
.News {
  position: relative;
  @at-root{
.News__Box {
  background-color: $color-purewhite;
  position: absolute;
  bottom: -15.78125vw;
  right: 0;
  width: 86.25vw;
  height: 28.5625vw;
  padding: 6.25vw;
  z-index: 100;
  @include mq(md){
    left: 0;
    bottom: 0;
    width: 50.25vw;
    height: 56px;
    padding: 0 20px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: center;
    -webkit-box-align: center;
    align-items: center;
  }
  @include mq(lg){
    width: 40vw;
  }
}
.News__Item {
  width: 80%;
  text-align: left;
  display: inline-block;
  @include mq(md){
    margin-top: 16px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: distribute;
    justify-content: space-around;
  }
}
.News__Date {
  color: $colorpalette-sub-text;
  margin-bottom: 1.5625vw;
}
  }
}

//NEWS PAGE
.News__Content {
  display: block;
  padding: 32px;
  border-bottom: 1px solid $color-primary_lightgrey;
  @include mq(md){
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
  }
@at-root {
.News__TextArea {
  padding: 8px;
  width: 100%;
}
.News__Content-Date {
  width: 100px;
  margin: 0 auto;
  color: $colorpalette-sub-text;
}
}
}

//LEAD
.Lead {
  background-color: $color-primary_light;
  @include mq(md){
    height: 45.3125vw;
    margin-bottom: 7.8125vw;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
&a {
  text-decoration: none;
}
@at-root {
.Lead__Visual {
  height: 109.375vw;
  background-color: rgba(0, 0, 0, 0.5);
  background: url(../img/top/lead_bg.jpg) center center no-repeat;
  background-size: cover;
  position: relative;
  @include mq(md) {
    height: 100%;
    width: 50%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
  }
}
.Lead__Content {
    @include mq(md){
    width: 50%;
    height: 100%;
    display: table;
  }
}
.Lead__Text {
  @include mq(md) {
    display: table-cell;
    vertical-align: middle;
  }
}
.Lead__Logo {
  width: 166px;
  top: 50%;
  left: 50%;
  position: absolute;
  z-index: 100;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
    @include mq(md) {
    width: 156px;
  }
  @include mq(lg){
      width: 300px;
    top: 40%;
}
}
.Lead__Info {
@include mq(md) {
    display: none;
  }
  &.White {
    color: $color_purewhite;
  }
  &.WhiteBox {
    border: 1px solid $color_purewhite;
  }
  &.Lead-Pc {
    display: none;
    @include mq(md){
        display: block;
        margin: 0 auto;
      }
    }
  }
  .Info__Btn {
    @include mq(md){
      &.Lead__Pc {
        margin-top: 98px;
      }
    }
  }
}
}

//PRODUCT lIST
.Lineup__List {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  width: 100%;
  @at-root {
.Lineup__Item {
  width: 200px !important;
  margin-top: 60px;
  padding: 0 10px;
}

.Lineup__Info {
  padding: 4px;
  margin-bottom: 8px;
  border: 1px solid $color-primary_lightgrey;
  background-color: $color_purewhite;
  -webkit-transition: all .5s ease;
  -o-transition: all .5s ease;
  transition: all .5s ease;
  font-size: 0.5rem;
}

.Lineup__Link:hover >
.Lineup__Item-Footer >
.Lineup__Info {
  background-color: $color-primary_lightgrey;
  color: $color_purewhite;
}

.Lineup__Link {
  &.Lineup__Product {
  position: relative;
  width: 186px;
  height: 186px;
}
}

.Lineup__Title {
  padding: 4px;
  border-bottom: 1px solid $color-primary_lightgrey;
  margin-bottom: 10px;
}

.Lineup__Text {
  margin-bottom: 10px;
  padding: 8px;
&.Product__Weight {
  color: $colorpalette-sub-text;
  padding: 0;
  margin-bottom: 8px;
  text-align: left;
}
}
.Lineup__Item-Footer {
  padding: 4px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}
  }
}

//ACCESS
.Access {
  height: 200px;
iframe {
  -webkit-filter: grayscale(100%);
  -moz-filter: grayscale(100%);
  -ms-filter: grayscale(100%);
  -o-filter: grayscale(100%);
  filter: grayscale(100%);
}
}

//CONTACT PAGE
.ContactForm {
  @at-root {
.Form__Head {
  margin-top: 20px;
  text-align: left;
  padding: 0 20px;
}
.Form {
  width: 100%;
  @include mq(md){
    width: 85%;
    margin: 0 auto;
  }
}
.Form__Box {
  width: 100%;
  margin: 10px auto;
  padding: 8px;
  border: 1px solid $color-primary_lightgrey;
&-Hyphen {
  margin: 0 10px;
}
}
.Form__Content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  padding: 20px;
  border-bottom: 1px dotted;
&.Row {
  -ms-flex-wrap: nowrap;
  flex-wrap: nowrap;
}
}
.Form__TextArea {
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  padding: 20px;
  border-bottom: 1px dotted;
}
.Alert {
  color: #DE5D50;
}
.Form__Btn {
  margin-top: 40px;
  padding: 8px 20px;
  background-color: $colorpalette-form-btn;
  width: 100px;
  &.Large {
  width: 100%;
  @include mq(md) {
    width: 80%;
  }
}
}
.Form__Link {
  color: $color_purewhite;
  text-decoration: none;
}
.h-adr {
  width: 100%;
}
}
}

//PRODUCTS PAGE
.Products__Info {
  padding: 20px;
  border: 1px solid #f6f6f6;
  @include mq(md){
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
  }
  @at-root {
.Products__Info-Items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}
.Products__Info-Item {
  padding: 0 8px;
}
.SearchForm {
@include mq(md) {
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
  }
}
}
}

//LOGIN　PAGE
.LoginForm {
  margin: 0 auto;
  width: 80%;
  @include mq(md){
    width: 50%;
  }
}
.Login__Bottom {
  width: 100%;
}

//CART PAGE
.Cart__TextArea {
  padding: 20px;
  background-color: $color-primary_lightgrey;
}
.Cart__Status {
  padding: 20px;
 &.Alert {
  color: #FF9999;
 }
}

//PRODUCT DETAIL PAGE
.Detail__Content {
  width: 100%;
  margin: 0 auto;
  @include mq(md){
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
  }
@at-root {
  .Detail__Top-Box {
  text-align: left;
  position: absolute;
  left: 30px;
  top: 40%;
  @include mq(md) {
  left: 70px;
  top: 30%;
  }
}
.Detail-Top__Title{
    @include mq(md) {
    font-size: 48px;
     }
  }
.Detail-Top__SubTitle {
    @include mq(md) {
    font-size: 28px;
  }
}
.js-thumbnail_productSlider {
  margin-top: 32px;
}
.Detail__Thumbnail {
  width: 50px;
  height: 50px;
  margin: 0 8px;
}
.Detail__Info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  margin-bottom: 40px;
}
.Detail__Info-Item{
&.Sp {
  display: block;
  @include mq(md){
    display: none;
  }
}
}
.Detail__SlideContent {
  @include mq(md){
    width: 50%;
  }
}
.Detail__Description {
  margin-top: 32px;
  width: 100%;
  @include mq(md){
    margin-top: 0;
    width: 40%;
  }
  &-Bottom {
  margin-top: 32px;
}
}
}
}

//PRODUCT CONTENT
.Product__TextArea {
  margin-bottom: 20px;
}
.Product__Box {
  padding: 16px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: baseline;
  -ms-flex-align: baseline;
  align-items: baseline;
  &.UnderLine {
  border-bottom: 1px solid $color-primary_lightgrey;
}
}
.Product__Num {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  padding: 20px 0;
}
.Product__Select {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.Product__Select-Text {
  padding: 0 8px;
}
.Product__SelectBox {
  width: 40px;
  background-color: $color-primary_light;
  position: relative;
&:after {
  content: '▼';
  position: absolute;
  right: 0px;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  font-size: 4px;
  color: $color-primary_lightgrey;
  pointer-events: none;
}
  & > select  {
  padding-left: 8px;
  width: 100%;
}
}